<div class="section-shaped skew-separator skew-mini">
    <div class="page-header page-header-small header-filter">
        <div class="page-header-image" style="background-image: url('assets/img/background/document.jpg');"></div>
        <div class="container">
            <div class="header-body text-center mb-7">
                <div class="row justify-content-center">
                    <div class="col-xl-5 col-lg-6 col-md-8 px-5">
                        <h1 class="text-white">Checkout</h1>
                        <p class="text-lead text-white">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="upper">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="container">
                    <h3 class="title text-white mt-3">Purchase summary</h3>
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center mb-3">
                                    <div class="col-md-5 col-6">
                                        <img alt="Rounded image" class="img-fluid"
                                            src="assets/img/default/sample.png" />
                                    </div>
                                    <div class="media-body">
                                        <h2 class="h6">Business Profile</h2>
                                    </div>
                                    <div class="media-body text-right">
                                        <span> RM25.00 </span>
                                    </div>
                                </div>
                                <div class="media align-items-center">
                                    <div class="col-md-5 col-6">
                                        <img alt="Rounded image" class="img-fluid"
                                            src="assets/img/default/sample.png" />
                                    </div>
                                    <div class="media-body">
                                        <h2 class="h6 mb-0"> + CTC</h2>
                                    </div>
                                    <div class="media-body text-right">
                                        <span> RM15.00 </span>
                                    </div>
                                </div>

                                <hr class="line-primary mb-3" />

                                <div class="media align-items-center">
                                    <h3 class="h6 opacity-8 mr-3">Subtotal</h3>
                                    <div class="media-body text-right">
                                        <span> RM40.00 </span>
                                    </div>
                                </div>
                                <hr class="line-primary mb-3" />

                                <div class="media align-items-center">
                                    <h3 class="h6">Total</h3>
                                    <div class="media-body text-right">
                                        <span class="font-weight-semi-bold"> RM40.00 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <form class="js-validate">
                        <div class="container">
                            <h3 class="title mt-3">Billing details</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="labels">
                                        Full name <span class="text-danger"> * </span>
                                    </label>
                                    <input aria-label="Amin Redzuan" class="form-control" name="firstName"
                                        placeholder="Amin Redzuan" required="" type="text" />
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="js-form-message">
                                        <label class="labels">
                                            Address 1<span class="text-danger"> * </span>
                                        </label>
                                        <input aria-label="C3-A-12" class="form-control" name="streetAddress"
                                            placeholder="C3-A-12" required="" type="text" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="js-form-message">
                                        <label class="labels">
                                            Address 2<span class="text-danger"> * </span>
                                        </label>
                                        <input aria-label="Metropolitan Square" class="form-control" name="streetAddress"
                                            placeholder="Metropolitan Square" required="" type="text" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="js-form-message">
                                        <label class="labels">
                                            Address 3<span class="text-danger"> * </span>
                                        </label>
                                        <input aria-label="PJU 8/1" class="form-control" name="streetAddress"
                                            placeholder="PJU 8/1" required="" type="text" />
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="js-form-message">
                                        <label class="labels">
                                            Postcode <span class="text-danger"> * </span>
                                        </label>
                                        <input aria-label="47810" class="form-control" name="postcode"
                                            placeholder="47810" required="" type="text" />
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="js-form-message mb-4">
                                        <label class="labels">
                                            City <span class="text-danger"> * </span>
                                        </label>
                                        <input aria-label="Petaling Jaya" class="form-control" name="cityAddress"
                                            placeholder="Petaling Jaya" required="" type="text" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label class="labels">
                                            State <span class="text-danger"> * </span>
                                        </label>
                                        <select class="form-control" data-trigger="" id="choices-single-default"
                                            name="choices-single-default">
                                            <option selected=""> Select state </option>
                                            <option value="CZ"> Pahang </option>
                                            <option value="DK"> Kuala Lumpur </option>
                                            <option value="DO"> Selangor </option>
                                            <option value="IQ"> Perlis </option>
                                            <option value="IL"> Pulau Pinang </option>
                                            <option value="IT"> Negeri Sembilan </option>
                                        </select>
                                    </div>

                                    <button class="btn btn-primary btn-sm float-right mb-3" type="submit" (click)="confirm()">
                                        Make Payment
                                    </button>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>