<div class="wrapper">
    <section class="section-shaped title-bg bg-mini">
        <div class="page-header page-header-small header-filter-white">
            <div class="page-header-image" style="background-image: url('assets/img/background/tower-ssm.png');"></div>
            <div class="container">
                <div class="header-body text-center mb-9">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h1 class="text-ssm font-weight-bolder">ABOUT SSM PRODUCT</h1>
                        </div>`
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="section mt--9">
        <div class="accordion-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ml-auto">
                        <h2 class="mb-3 mt-5 text-ssm text-center">Company Information</h2>
                        <div>
                            <h4 class="title">Company Profile</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>
                                        A current report that contains basic 
                                        information of a company, (such of a company, name, company number, 
                                        incorporation date, company type, company status, registered address 
                                        business address and nature of business), share capital, directors/officers, 
                                        shareholders, charges (if any) and financial information.
                                    </p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>non-CTC</p>
                                    <p>CTC</p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>RM10.00</p>
                                    <p>RM20.00</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-ssm btn-round mr-1" type="button">
                                    Check Sample
                                </button>
                            </div>
                        </div>

                        <div>
                            <h4 class="title">Financial Comparison</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>
                                        A comparative information on the audited financial statements of a company. 
                                        Comparison can be made for 2 years, 3 years, 5 years and 10 years.
                                    </p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>2nd year</p>
                                    <p>3rd year</p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>RM10.00</p>
                                    <p>RM20.00</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-ssm btn-round mr-1" type="button">
                                    Check Sample
                                </button>
                            </div>
                        </div>

                        <h2 class="mb-3 mt-5 text-ssm text-center">Business Information</h2>
                        <div>
                            <h4 class="title">Business Profile</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>
                                        A report which contains the latest information of a business (such as business name, 
                                        registration number, registration date, registration export date, business form, nusiness status, 
                                        business address, business type, business branch information (if any), information of the current and previous owner)
                                    </p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>2nd year</p>
                                    <p>3rd year</p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>RM10.00</p>
                                    <p>RM20.00</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-ssm btn-round mr-1" type="button">
                                    Check Sample
                                </button>
                            </div>
                        </div>


                        <div>
                            <h4 class="title">Copy of a Business Registration Certificate</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>
                                        A copy of business registration certificate can be provided if there is an application by the customer.
                                    </p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>non-CTC</p>
                                    <p>CTC</p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>RM10.00</p>
                                    <p>RM20.00</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-ssm btn-round mr-1" type="button">
                                    Check Sample
                                </button>
                            </div>
                        </div>

                        <div>
                            <h4 class="title">Business Termination Letter (BTL)</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>
                                        Business termination letter is a supporting document confirming the 
                                        expiry status of a business registration. The status of the business 
                                        registration must already be expired at the time of the application is being made 
                                        regardless of the duration of the expiry date and the letter can be purchased by anyone.
                                    </p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>non-CTC</p>
                                    <p>CTC</p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>RM10.00</p>
                                    <p>Not Available</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-ssm btn-round mr-1" type="button">
                                    Check Sample
                                </button>
                            </div>
                        </div>

                        <h2 class="mb-3 mt-5 text-ssm text-center">Limited Liability Partnership Information</h2>
                        <div>
                            <h4 class="title">LLP Profile</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>
                                        A current information that contains basic information of a LLP (such as LLP name, 
                                        LLP registration nunber, LLP registration type & LLP registration date), 
                                        LLP status declaration dates, registered office address, business address partner(s) 
                                        informatiom , compliance officer(s), nature of busness and contact details (email).
                                    </p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>non-CTC</p>
                                    <p>CTC</p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>RM10.00</p>
                                    <p>Not Available</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-ssm btn-round mr-1" type="button">
                                    Check Sample
                                </button>
                            </div>
                        </div>

                        <div>
                            <h4 class="title">Certificate of Registration of a LLP</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>
                                        Under the Limited Liability Partnerships Act 2012 (Act 743), 
                                        a notice of registration to certify the LLP will be issued to the customer 
                                        after registration has been made. However, a certificate of registration of a LLP can be supplied 
                                        if it is requested by the customer.
                                    </p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>non-CTC</p>
                                    <p>CTC</p>
                                </div>
                                <div class="col-lg-2 text-right">
                                    <p>RM10.00</p>
                                    <p>Not Avaiable</p>
                                </div>
                            </div>
                            <div class="mb-4">
                                <button class="btn btn-ssm btn-round mr-1" type="button">
                                    Check Sample
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>