<div class="wrapper">
    <div class="cd-section" id="features">
        <div class="section features-3" style="background-image: url('assets/img/ill/p31.svg')">
            <div class="container mt-6">
                <div class="row text-center justify-content-center">
                    <div class="col-lg-8">
                        <h3 class="display-3 text-white">
                            Welcome to
                            <span class="text-success">
                                SMM Product Portal
                            </span>
                        </h3>
                        <p class="lead text-white">
                            We're constantly trying to express ourselves and actualize our
                            dreams. If you have the opportunity to play this game of life
                            you need to appreciate every moment.
                        </p>
                    </div>
                </div>
                <div class="row row-grid mt-5">
                    <div class="col-lg-6">
                        <div class="info info-horizontal bg-white">
                            <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                                <i class="ni ni-hat-3 text-info"> </i>
                            </div>
                            <div class="description pl-4">
                                <h5 class="title text-info">Title</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Pellentesque id felis in tortor aliquam convallis eu non sapien. 
                                    Integer efficitur sodales mauris imperdiet facilisis.
                                </p>
                                <a class="text-info" href="#"> Learn more </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info info-horizontal bg-white">
                            <div class="icon icon-shape icon-shape-warning rounded-circle text-white">
                                <i class="ni ni-istanbul text-warning"> </i>
                            </div>
                            <div class="description pl-4">
                                <h5 class="title text-warning">Title</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Pellentesque id felis in tortor aliquam convallis eu non sapien. 
                                    Integer efficitur sodales mauris imperdiet facilisis.
                                </p>
                                <a class="text-warning" href="#"> Learn more </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-6">
                        <div class="info info-horizontal bg-white">
                            <div class="icon icon-shape icon-shape-danger rounded-circle text-white">
                                <i class="ni ni-trophy text-danger"> </i>
                            </div>
                            <div class="description pl-4">
                                <h5 class="title text-danger">Title</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Pellentesque id felis in tortor aliquam convallis eu non sapien. 
                                    Integer efficitur sodales mauris imperdiet facilisis.
                                </p>
                                <a class="text-danger" href="#"> Learn more </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info info-horizontal bg-white">
                            <div class="icon icon-shape icon-shape-success rounded-circle text-white">
                                <i class="ni ni-image text-success"> </i>
                            </div>
                            <div class="description pl-4">
                                <h5 class="title text-success">Title</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Pellentesque id felis in tortor aliquam convallis eu non sapien. 
                                    Integer efficitur sodales mauris imperdiet facilisis.
                                </p>
                                <a class="text-success" href="#"> Learn more </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>