.page-header-image {
    z-index: 1;
}

.header-ssm {
    max-height: 300px;
    min-height: 100vh;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}